.DS_Store
*.pyc
*.log
__pycache__
.dropbox.attr
.ftpconfig
warp-ctc
pytorch-ctc

vocab
log
examples/*/*/steps
examples/*/*/utils


attention_seq2seq_hierarchical_decoder.py
run_attention_dec_mtl.sh
test_attention_dec_mtl.py
student_ctc.py
