notifications:
  email: false

dist: xenial

language: python

os: linux

python:
  - "3.6"
  - "3.7"
  - "3.8"

cache:
  - pip
  - ccache

sudo: false

install:
  - travis_retry ./test/install.sh

script:
  - ./test/test_python.sh
  - ./test/test_training.sh

env:
  - PYTHON_VERSION=3.7 PYTORCH_VERSION=1.0.0 CC=gcc-7 CXX=g++-7

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake
      - g++-7
      - sox
