bleach==1.5.0
certifi==2017.11.5
cffi==1.11.2
cycler==0.10.0
enum34==1.1.6
html5lib==0.9999999
Markdown==2.6.9
matplotlib==2.1.0
numpy==1.13.3
pandas==0.21.0
protobuf==3.5.0.post1
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.1
python-Levenshtein==0.12.0
python-speech-features==0.6
pytorch-ctc==0.1
pytz==2017.3
PyYAML==3.12
scipy==1.0.0
seaborn==0.8.1
setproctitle==1.1.10
six==1.11.0
tensorboardX==0.8
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
torch==0.4.0a0+929a11f
tqdm==4.19.4
warpctc-pytorch==0.1
Werkzeug==0.12.2
